theme "catppuccin-latte"
pane_frames false
copy_command "wl-copy"
env {
  IN_ZELLIJ_SESSION 1
}



plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

